.footer {
	background: $saffron;
	h1 {
		text-align: center;
	}
}

.footer ul {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 20px 0;

	li {
		margin: 10px;
	}

	a:hover {
		opacity: 0.5;
		transition: opacity ease 0.2s;
	}
}
