.header {
	display: flex;
	justify-content: space-between;
	width: 100%;
}

.nav-container,
.button-wrapper {
	padding: 20px;
}

.nav {
	display: none;
}

.nav-container div:hover + .nav,
.nav:hover {
	display: block;
}

.burger-wrapper {
	&:hover ~ .nav,
	&:active ~ .nav {
		display: block;
	}
}

@include lg {
	.burger-wrapper {
		display: none;
	}
	.nav-container {
		display: flex;
		align-items: center;
		margin: 0 10px;
	}
	.nav {
		display: block;
		ul {
			display: flex;
		}
		ul li {
			padding: 10px;
		}
	}
}
