.skynet {
	margin: 50px 0;
}

.image-1,
.image-2,
.image-3,
.image-4,
.image-5,
.image-6 {
	background-size: cover;
	background-repeat: no-repeat;
}

.text {
	display: flex;
	align-items: center;
	justify-content: center;
	color: $sectionHeader;
}

.image-1 {
	background-image: url("/deploy/img/skynet/gallery-1.jpg");
}

.image-2 {
	background-image: url("/deploy/img/skynet/gallery-2.jpg");
}

.image-3 {
	background-image: url("/deploy/img/skynet/gallery-3.jpg");
}

.image-4 {
	display: none;
}
.image-5 {
	display: none;
}
.image-6 {
	display: none;
}

@include md {
	.image-5 {
		display: block;
		background-image: url("/deploy/img/skynet/gallery-5.jpg");
	}
}

@include lg {
	.image-4 {
		display: block;
		background-image: url("/deploy/img/skynet/gallery-4.jpg");
	}
	.image-5 {
		display: block;
	}
	.image-6 {
		display: block;
		background-image: url("/deploy/img/skynet/gallery-6.jpg");
	}
}
