/* =============
    Base
============= */
figure {
	margin: 0;
	padding: 0;
}

ul {
	margin: 0;
	padding: 0;

	li {
		list-style: none;
	}
}

.content {
	display: grid;
	grid-template-areas:
		"header"
		"hero"
		"history"
		"hero-2"
		"skills"
		"skynet"
		"footer";

	.header {
		grid-area: header;
	}

	.hero {
		grid-area: hero;
	}

	.history {
		grid-area: history;
	}

	.hero-2 {
		grid-area: hero-2;
	}

	.skills {
		grid-area: skills;
		section {
			display: grid;
			grid-template-columns: 10px auto 10px;
			grid-template-areas: ". section-2 .";

			.skills-content {
				grid-area: section-2;
			}
		}
	}

	.skynet {
		grid-area: skynet;
		display: grid;
		grid-template-columns: 10px auto 10px;
		// this specifies a 3 column grid with the gallery in the center
		grid-template-areas: ". gallery .";

		ul {
			grid-area: gallery;
			display: grid;
			grid-gap: 20px;
		}
	}

	.footer {
		grid-area: footer;
	}

	margin-bottom: 24px;

	@include md {
		margin-bottom: 32px;
	}

	@include lg {
		margin-bottom: 64px;
	}

	@include xl {
		margin-bottom: 64px;
	}
}
