/* =============
    Base
============= */
figure {
	margin: 0;
	padding: 0;
}

ul {
	margin: 0;
	padding: 0;

	li {
		list-style: none;
	}
}

.content {
	display: grid;
	grid-template-areas:
		"header"
		"hero"
		"history"
		"skills"
		"hero-2"
		"skynet"
		"footer";
	grid-gap: 50px;

	.header {
		grid-area: header;
	}

	.hero {
		grid-area: hero;
	}

	.history {
		display: grid;
		grid-area: history;

		@include md {
			grid-template-columns: repeat(12, 1fr);

			.history-header {
				grid-column: 2 / 12;
			}
			.history-content {
				grid-column: 2 / 12;
			}
			.secondary {
				grid-column: 3 / 11;
			}
		}

		@include lg {
			.history-header {
				grid-column: 3 / 11;
			}
			.history-content {
				grid-column: 3 / 11;
			}
			.secondary {
				grid-column: 4 / 10;
			}
		}
	}

	.hero-2 {
		grid-area: hero-2;
	}

	.skills {
		grid-area: skills;

		section {
			display: grid;
			grid-template-columns: repeat(12, 1fr);

			.skills-content {
				grid-area: section-2;
				grid-column: 2 / 12;
			}
		}

		@include lg {
			display: grid;
			grid-template-columns: 500px auto;
		}
	}

	.skynet {
		grid-area: skynet;
		display: grid;
		grid-template-columns: 10px auto 10px;
		// this specifies a 3 column grid with the gallery in the center
		grid-template-areas: ". gallery .";

		ul {
			grid-area: gallery;
			display: grid;
			grid-gap: 20px;
			grid-template-rows: repeat(5, 230px);
			grid-template-areas:
				"text"
				"image-1"
				"image-1"
				"image-2"
				"image-3"
				"image-4";

			@include md {
				grid-template-columns: repeat(2, 1fr);
				grid-template-rows: repeat(3, 300px);
				grid-template-areas:
					"image-1 image-2"
					"image-1 text"
					"image-3 image-5";
			}

			@include lg {
				grid-template-columns: repeat(3, 1fr);
				grid-template-areas:
					"image-1 image-2 image-6"
					"image-1 text image-4"
					"image-3 image-5 image-4";
			}
		}
		.text {
			grid-area: text;
		}
		.image-1 {
			grid-area: image-1;
		}
		.image-2 {
			grid-area: image-2;
		}
		.image-3 {
			grid-area: image-3;
		}
		.image-4 {
			grid-area: image-4;
		}
		.image-5 {
			grid-area: image-5;
		}
		.image-6 {
			grid-area: image-6;
		}
	}

	.footer {
		grid-area: footer;
	}

	margin-bottom: 24px;

	@include md {
		grid-gap: 0;
		margin-bottom: 32px;
	}

	@include lg {
		margin-bottom: 64px;
	}

	@include xl {
		margin-bottom: 64px;
	}
}
