/* =============
    Base
============= */
figure {
	margin: 0;
	padding: 0;
}

ul {
	margin: 0;
	padding: 0;

	li {
		list-style: none;
	}
}

.content {
	display: grid;
	grid-template-areas:
		"header"
		"hero"
		"history"
		"hero-2"
		"skills"
		"skynet"
		"footer";

	.header {
		grid-area: header;
	}

	margin-bottom: 24px;

	@include md {
		margin-bottom: 32px;
	}

	@include xl {
		margin-bottom: 64px;
	}
}
